<nav class="nav">
    <ul class="main-nav">
        <li><a href="#" class="btn-menu"><i class="fas fa-toggle-off fa-fw"></i></a></li>
        <li><a href="/admin/overview" class="nav-link overview" title="Overview"><i class="fas fa-tachometer-alt fa-fw"></i> <?= $nav_text_overview; ?></a></li>
        <li><a href="/admin/users" class="nav-link users" title="Users"><i class="fas fa-users fa-fw"></i> <?= $nav_text_users; ?></a></li>
        <li><a href="/admin/pages" class="nav-link pages" title="Pages"><i class="far fa-newspaper fa-fw"></i> <?= $nav_text_pages; ?></a></li>
        <li><a href="/admin/sitemap" class="nav-link sitemap" title="Sitemap"><i class="fas fa-map-marked-alt fa-fw"></i> <?= $nav_text_sitemap; ?></a></li>
        <li><a href="/admin/robots" class="nav-link robots" title="Robots"><i class="fas fa-robot fa-fw"></i> <?= $nav_text_robots; ?></a></li>
        <li class="dropdown-button">
            <a href="#" class="nav-link modules db" title="Modules"><i class="fas fa-puzzle-piece fa-fw"></i> <?= $nav_text_modules; ?><i class="fas fa-caret-down fa-fw nav-toggle"></i></a>
            <ul class="dropdown-menu list-unstyled">
                <li><a href="/admin/analytics" class="nav-link analytics" title="Analytics"><i class="fas fa-chart-pie fa-fw"></i> - <?= $nav_text_analytics; ?></a></li>
                <li><a href="/admin/blog" class="nav-link blog" title="Blog"><i class="fab fa-blogger fa-fw"></i> - <?= $nav_text_blog; ?></a></li>
            </ul>
        </li>
        <hr class="row basic">
        <li><a href="/admin/settings" class="nav-link settings" title="Settings"><i class="fas fa-cog"></i> <?= $nav_text_settings; ?></a></li>
        <hr class="row basic">
        <li><a href="/logout" title="Log out"><i class="fas fa-sign-out-alt fa-fw"></i> <?= $nav_text_logout; ?></a></li>
    </ul>
</nav>