/* Header */
.header {
    display: inline-block;
    width: 1366px;
    padding-top: 20px;
    margin: auto;
}

/* Logo */
.logo, .logo:visited {
    float: left;
    height: 42px;
    font-size: 42px;
    line-height: 42px;
}

.version-build {
    float: left;
    margin-top: 8px;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
}

.light-theme .logo, .light-theme .logo:visited {
    color: #2777c9;
}

.dark-theme .logo, .dark-theme .logo:visited {
    color: #ffae00;
}

.logo:hover, .logo:focus, .logo:active {
    color: #2777c9;
}

/* Navigation */
.nav {
    position: relative;
    float: left;
    width: 65px;
    z-index: 999;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.nav.menu-open {
    width: 220px;
}

.main-nav {
    float: left;
    width: 100%;
    list-style: none;
}

.main-nav li {
    position: relative;
    float: left;
    width: 65px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.menu-open .main-nav li {
    width: 220px;
}

.main-nav a, .main-nav a:visited {
    float: left;
    overflow: hidden;
    max-height: 60px;
    width: 100%;
    border-radius: 3px;
    line-height: 60px;
}

.light-theme .main-nav a:hover, .light-theme .main-nav a:focus, .light-theme .main-nav a:active {
    color: #2777c9 !important;
    background-color: rgba(0, 0, 0, 0.1);
}

.dark-theme .main-nav a:hover, .dark-theme .main-nav a:focus, .dark-theme .main-nav a:active {
    color: #ffae00 !important;
    background-color: rgba(255, 255, 255, 0.1);
}

.main-nav a.current, .main-nav a.current:visited {
    width: 100%;
    margin-right: -5px;
    color: #fff !important;
}

.light-theme .main-nav a.current:hover, .light-theme .main-nav a.current:focus, .light-theme .main-nav a.current:active {
    background-color: #0553a3;
}

.dark-theme .main-nav a.current:hover, .dark-theme .main-nav a.current:focus, .dark-theme .main-nav a.current:active {
    background-color: #e39702;
}

.light-theme .main-nav a.current {
    box-shadow: inset 0 0 1px 1px #6f95be;
    border: 1px solid #2671bd;
    background-color: #2777c9;
}

.dark-theme .main-nav a.current {
    box-shadow: inset 0 0 1px 1px #ffb626;
    border: 1px solid #976400;
    background-color: #f0a20a;
}

.main-nav a i:first-child {
    width: 65px;
    text-align: center;
}

.nav-toggle {
    margin: 13px 2px 0 0;
    font-family: "Font Awesome 5 Free";
}

.dropdown-menu {
    float: left;
    width: 100%;
    max-height: 0px;
    z-index: 100;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.dropdown-menu.active {
    max-height: 500px
}

.dropdown-menu li {
    width: 100% !important
}

.dropdown-menu a {
    width: 100% !important;
    padding-left: 0px !important;
    line-height: 60px !important;
    font-size: 15px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.menu-open .dropdown-menu a {
    width: 100% !important;
    padding-left: 0px !important;
    line-height: 40px !important;
    font-size: 13px;
}

.dropdown-menu i {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.menu-open .dropdown-menu i {
    visibility: hidden;
    opacity: 0;
}

.account-nav {
    float: right;
    height: 30px;
    list-style: none;
}

.account-nav .nav-toggle {
    float: left;
    width: 15px;
}

.account-nav li {
    position: relative;
    float: left;
}

.account-nav a, .account-nav a:visited {
    float: left;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    font-size: 13px;
}

.light-theme .account-nav a, .light-theme .account-nav a:visited {
    color: #2777c9;
}

.dark-theme .account-nav a, .dark-theme .account-nav a:visited {
    color: #ffae00;
}

.light-theme .account-nav a:hover, .light-theme .account-nav a:focus, .light-theme .account-nav a:active {
    background-color: #eee;
}

.dark-theme .account-nav a:hover, .dark-theme .account-nav a:focus, .dark-theme .account-nav a:active {
    background-color: #3f4042;
}

.account-nav button, .account-nav button:visited {
    float: left;
    height: 30px;
    padding: 0 15px;
    color: #2777c9;
    font-size: inherit;
    font-family: inherit;
    line-height: 30px;
}

.light-theme .account-nav button, .light-theme .account-nav button:visited {
    color: #2777c9;
}

.dark-theme .account-nav button, .dark-theme .account-nav button:visited {
    color: #ffae00;
}

.light-theme .account-nav button:hover, .light-theme .account-nav button:focus, .light-theme .account-nav button:active {
    background-color: #eee;
}

.dark-theme .account-nav button:hover, .dark-theme .account-nav button:focus, .dark-theme .account-nav button:active {
    background-color: #3f4042;
}