/**
 * Stylesheet CSS
 *
 * This is the primary stylesheet for the view. All other CSS files should 
 * be imported here.
*/

@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i');
@import url('../../../fonts/fontawesome/fontawesome.css');
@import url('template.css');
@import url('header.css');
@import url('forms.css');
@import url('buttons.css');
@import url('footer.css');
@import url('dropzone.css');
@import url('slick.css');
@import url('theme.css');