/**
 * Theme CSS
 *
 * This is where the unique css for the theme is. This is for very specific css that will
 * be the core of the themes design. Common things like columns, rows and text will be
 * in the (template.css) file.
 */

/* Homepage */
.home-greeting {
    margin-top: -90px;
    height: 960px;
    background: url(../../../images/bkgHome.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: 2250px 1266px;
    color: #fff;
    font-weight: 700;
    -webkit-transition: background 5s linear;
    -ms-transition: background 5s linear;
    transition: background 5s linear;
}

@media only screen and (max-width:1366px) {
    .home-greeting {
        height: 680px;
    }
}

@media only screen and (max-width:1280px) {
    .home-greeting {
        height: 690px;
    }
}

@media only screen and (max-width:1024px) {
    .home-greeting {
        height: 700px;
    }
}

@media only screen and (max-width:768px) {
    .home-greeting {
        height: 930px;
        margin-top: -160px;
    }
}

@media only screen and (max-width:736px) {
    .home-greeting {
        height: 460px;
    }
}

@media only screen and (max-width:667px) {
    .home-greeting {
        height: 430px;
    }
}

@media only screen and (max-width:568px) {
    .home-greeting {
        height: 390px;
    }
}

@media only screen and (max-width:414px) {
    .home-greeting {
        height: 760px;
    }
}

@media only screen and (max-width:375px) {
    .home-greeting {
        height: 720px;
    }
}

@media only screen and (max-width:320px) {
    .home-greeting {
        height: 620px;
    }
}

.home-greeting.animate {
    background-size: 1920px 1080px;
    background-position: 50% 50%;
}

.home-greeting-text {
    margin-top: 250px;
    text-align: center;
}

@media only screen and (max-width:1366px) {
   .home-greeting-text {
        margin-top: 130px;
    } 
}

@media only screen and (max-width:1280px) {
   .home-greeting-text {
        margin-top: 150px;
    } 
}

@media only screen and (max-width:1024px) {
    .home-greeting-text {
        margin-top: 170px;
    } 
}

@media only screen and (max-width:768px) {
    .home-greeting-text {
        margin-top: 270px;
    } 
}

@media only screen and (max-width:736px) {
    .home-greeting-text {
        margin-top: 190px;
    } 
}

@media only screen and (max-width:667px) {
    .home-greeting-text {
        margin-top: 180px;
    } 
}

@media only screen and (max-width:414px) {
    .home-greeting-text {
        margin-top: 300px;
    } 
}

@media only screen and (max-width:375px) {
    .home-greeting-text {
        margin-top: 280px;
    } 
}

@media only screen and (max-width:320px) {
    .home-greeting-text {
        margin-top: 210px;
    } 
}

.home-greeting-text h1 {
    font-size: 130px;
    line-height: 140px;
}

@media only screen and (max-width:1366px) {
    .home-greeting-text h1 {
        font-size: 90px;
        line-height: 100px;
    }
}

@media only screen and (max-width:768px) {
    .home-greeting-text h1 {
        font-size: 90px;
        line-height: 110px;
    }
}

@media only screen and (max-width:736px) {
    .home-greeting-text h1 {
        font-size: 50px;
        line-height: 60px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width:667px) {
    .home-greeting-text h1 {
        font-size: 54px;
        line-height: 62px;
    }
}

@media only screen and (max-width:568px) {
    .home-greeting-text h1 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media only screen and (max-width:414px) {
    .home-greeting-text h1 {
        font-size: 50px;
        line-height: 64px;
    }
}

@media only screen and (max-width:375px) {
    .home-greeting-text h1 {
        font-size: 48px;
        line-height: 62px;
    }
}

@media only screen and (max-width:320px) {
    .home-greeting-text h1 {
        font-size: 36px;
        line-height: 48px;
    }
}

.home-greeting-text p {
    padding:0 150px;
}

@media only screen and (max-width:1024px) {
    .home-greeting-text p {
        padding:0 70px;
    }
}

@media only screen and (max-width:736px) {
    .home-greeting-text p {
        padding:0 20px;
    }
}

@media only screen and (max-width:414px) {
    .home-greeting-text p {
        padding: 0;
    }
}

@media only screen and (max-width:375px) {
    .home-greeting-text p {
        padding: 0 20px;
    }
}

@media only screen and (max-width:360px) {
    .home-greeting-text p {
        padding: 0;
    }
}

@media only screen and (max-width:320px) {
    .home-greeting-text p {
        padding: 0;
    }
}

.site-highlights {
    margin-top: 220px;
    font-weight: 700;
}

@media only screen and (max-width:1366px) {
    .site-highlights {
        margin-top: 130px;
    }
}

@media only screen and (max-width:1024px) {
    .site-highlights {
        margin-top: 150px;
    }
}

@media only screen and (max-width:768px) {
    .site-highlights {
        margin-top: 250px;
    }
}

@media only screen and (max-width:736px) {
    .site-highlights {
        display: none;
    }
}

.site-highlights-col {
    width: 24%;
    margin-right: 1.33%;
}

.site-highlights-col:nth-child(4n+4) {
    margin-right: 0;
}

.site-highlights a, .site-highlights a:visited {
    color: #fff;
}

.site-highlights i {
    margin-right: 10px;
    font-size: 56px;
}

@media only screen and (max-width:768px) {
    .site-highlights i {
        margin-right: 5px;
        font-size: 36px;
    }
}

@media only screen and (max-width:414px) {
    .site-highlights i {
        margin-right: 0px;
    }
}

@media only screen and (max-width:320px) {
    .site-highlights i {
        font-size: 28px;
    }
}

.site-highlights span {
    display: inline-block;
    vertical-align: 3px;
    text-align: left;
    line-height: 24px;
}

@media only screen and (max-width:768px) {
    .site-highlights span {
        vertical-align: -2px;
        font-size: 15px;
        line-height: 21px;
    }
}

.exceptional-affordable {
    text-align: center;
}

.exceptional-affordable h2 em {
    font-weight: 700;
}

@media only screen and (max-width:1024px) {
    .exceptional-affordable h2 {
        padding: 0 150px;
    }
}

@media only screen and (max-width:768px) {
    .exceptional-affordable h2 {
        padding: 0 50px;
    }
}

@media only screen and (max-width:736px) {
    .exceptional-affordable h2 {
        padding: 0 70px;
    }
}

@media only screen and (max-width:414px) {
    .exceptional-affordable h2 {
        padding: 0 20px;
    }
}

@media only screen and (max-width:320px) {
    .exceptional-affordable h2 {
        padding: 0;
    }
}

.exceptional-affordable p {
    padding: 0 100px;
}

@media only screen and (max-width:1024px) {
    .exceptional-affordable p {
        padding: 0 110px;
    }
}

@media only screen and (max-width:768px) {
    .exceptional-affordable p {
        padding: 0 70px;
    }
}

@media only screen and (max-width:736px) {
    .exceptional-affordable p {
        padding: 0 30px;
    }
}

@media only screen and (max-width:568px) {
    .exceptional-affordable p {
        padding: 0;
    }
}

@media only screen and (max-width:414px) {
    .exceptional-affordable p {
        padding: 0 20px;
    }
}


@media only screen and (max-width:375px) {
    .exceptional-affordable p {
        padding: 0;
    }
}

@media only screen and (max-width:360px) {
    .exceptional-affordable p {
        padding: 0 20px;
    }
}

@media only screen and (max-width:320px) {
    .exceptional-affordable p {
        padding: 0 20px;
    }
}

.home-service {
    position: relative;
    padding: 60px 20px 20px 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
}

@media only screen and (max-width:736px) {
    .home-services .col.triple {
        width:100%;
        margin:0;
    }

    .home-service {
        padding: 60px 20px 50px 20px;
    }
}

.home-service h3, .home-service h4, .home-service h5 {
    margin: 0 0 15px 0;
    font-size: 24px;
    text-align: center;
}

.home-service span {
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center;
}

.service-bubble {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 2px solid #ddd;
    border-radius: 50%;
    background: #f9f9f9;
    color: #0392ce;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
}

.experience {
    text-align: left;
}

@media only screen and (max-width:414px) {
    .experience {
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    .experience h4 {
        margin-bottom: 30px;
        padding:0 50px;
    }
}

@media only screen and (max-width:736px) {
    .experience h4 {
        padding: 0 90px;
    }
}

@media only screen and (max-width:667px) {
    .experience h4 {
        padding: 0 20px;
    }
}

@media only screen and (max-width:375px) {
    .experience h4 {
        padding: 0;
    }
}

@media only screen and (max-width:320px) {
    .experience h4 {
        padding:0;
    }
}

@media only screen and (max-width:1024px) {
    .experience p {
        padding: 0;
    }
}

@media only screen and (max-width:768px) {
    .experience p {
        padding:0 40px;
    }
}

@media only screen and (max-width:667px) {
    .experience p {
        padding: 0 30px;
    }
}

@media only screen and (max-width:640px) {
    .experience p {
        padding: 0 10px;
    }
}

@media only screen and (max-width:568px) {
    .experience p {
        padding: 0;
    }
}

@media only screen and (max-width:414px) {
    .experience p {
        margin-bottom: 30px;
        padding: 0 30px;
    }
}

@media only screen and (max-width:375px) {
    .experience p {
        padding: 0;
    }
}

@media only screen and (max-width:320px) {
    .experience p {
        padding: 0 10px;
    }
}

.big-col {
    width: 80%;
}

.small-col {
    width: 20%;
}

@media only screen and (max-width:414px) {
    .big-col {
        width: 100%;
    }

    .small-col {
        width: 100%;
    }
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%
}

@media only screen and (max-width:414px) {
    .col-30 {
        width: 100%;
    }

    .col-70 {
        width: 100%
    }
}

.example-box {
    position: relative;
    width: 25%;
}

@media only screen and (max-width:736px) {
    .example-box {
        width: 50%;
    }
}

@media only screen and (max-width:414px) {
    .example-box {
        width: 100%;
    }
}

.example-box img {
    float: left;
    width: 100%;
}

.example-box a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 20px;
    background-color: rgba(3, 146, 206, 0.9);
    color: #fff;
    font-size: 21px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.example-box:hover a {
    opacity: 1;
}

.get-started h5 {
    font-weight: 700;
}

@media only screen and (max-width:768px) {
    .get-started p {
        padding: 0 100px;
    }
}

@media only screen and (max-width:736px) {
    .get-started p {
        padding: 0 50px;
    }
}

@media only screen and (max-width:568px) {
    .get-started p {
        padding: 0;
    }
}

@media only screen and (max-width:414px) {
    .get-started p {
        padding: 0 10px;
    }
}

@media only screen and (max-width:375px) {
    .get-started p {
        padding: 0;
    }
}

@media only screen and (max-width:360px) {
    .get-started p {
        padding: 0 20px;
    }
}

@media only screen and (max-width:320px) {
    .get-started p {
        padding: 0 10px;
    }
}

.page-welcome {
    border-top: 1px solid #ddd;
}

@media only screen and (max-width:414px) {
    .page-welcome {
        padding: 70px 0;
    }
}

@media only screen and (max-width:736px) {
    .responsive-design {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:736px) {
    .responsive-design img {
        padding: 0 50px;
    }
}

@media only screen and (max-width:414px) {
    .responsive-design img {
        padding: 0 20px;
    }
}

.responsive-design p {
    font-weight: 700;
}

@media only screen and (max-width:768px) {
    .responsive-design p {
        padding:0 30px;
    }
}

.service-highlights {
    padding-left: 50px;
}

@media only screen and (max-width:736px) {
    .service-highlights .col.dual {
        width: 100%;
        margin-right:0;
        margin-bottom: 30px;
    }

    .web-design-content .col-70 {
        width:100%;
        padding:0;
    }

    .web-design-content .col-30 {
        width:100%;
        padding:0;
    }

    .service-highlights .big-col {
        width: 100%;
    }

    .service-highlights .small-col {
        width: 100%;
    }
}

@media only screen and (max-width:414px) {
    .service-highlights {
        margin-top: 60px;
        padding-left: 0px;
    }
}

@media only screen and (max-width:414px) {
    .service-highlights .col.dual {
        margin-bottom: 30px;
    }
}

.service-highlights i {
    margin-right: 10px;
    font-size: 36px;
    color: #0392ce;
    vertical-align: -12px;
}

.have-questions span {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-right: 25px;
}

@media only screen and (max-width:768px) {
    .have-questions span {
        padding: 0 20px;
        margin-bottom: 20px;
        margin-right:0;
    }
}

@media only screen and (max-width:414px) {
    .have-questions span {
        float: left;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:736px) {
    .our-process {
        padding: 0 50px;
    }
}

@media only screen and (max-width:736px) {
    .our-process p {
        padding: 0 30px;
    }
}

@media only screen and (max-width:667px) {
    .our-process p {
        padding: 0 50px;
    }
}

@media only screen and (max-width:414px) {
    .our-process p {
        padding: 0;
    }
}

.our-process h4 {
    font-weight: 700;
}

@media only screen and (max-width:768px) {
    .process-parts .col.quad {
        width:48%;
        margin: 0 4% 60px 0;
    }

    .process-parts .col.quad:nth-child(2n+2) {
        width:48%;
        margin: 0 0 60px 0;
    }
}

@media only screen and (max-width:736px) {
    .process-parts .col.quad {
        width: 100%;
        padding: 0;
        margin:0 0 60px 0;
    }

    .process-parts .col.quad:nth-child(2n+2) {
        width:100%;
        margin:0 0 60px 0;
    }
}

@media only screen and (max-width:414px) {
    .process-parts .col.quad {
        padding: 0 30px;
    }

    .process-parts .col.quad:last-child {
        margin: 0;
    }
}

.process-parts i {
    font-size: 62px;
    margin-bottom: 30px;
}

@media only screen and (max-width:414px) {
    .site-maintenance .col.dual {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:736px) {
    .site-maintenance-services .col.triple {
        margin-bottom: 50px;
    }

    .site-maintenance-services .big-col {
        width: 80%;
    }

    .site-maintenance-services .small-col {
        width: 20%;
    }
}

.site-maintenance-services i {
    margin-right: 10px;
    font-size: 42px;
    color: #0392ce;
    vertical-align: -12px;
}

.website-and-email h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}

@media only screen and (max-width:768px) {
    .website-and-email h2 {
        font-size: 28px;
        margin-bottom: 32px;
    }
}

@media only screen and (max-width:414px) {
    .website-and-email h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width:414px) {
    .local-benefits .col.dual {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:568px) {
    .contact-us .col.dual {
        width:100%;
        margin-bottom: 50px;
    }
}

.contact-form {
    padding: 35px 25px;
}

@media only screen and (max-width:736px) {
    .contact-form {
        padding: 10px;
    }
}

@media only screen and (max-width:320px) {
    .contact-form {
        padding: 20px 10px;
    }
}

.contact-us .social-link {
    font-size: 42px;
}

.sitemap-page, .not-found-page {
    min-height: 820px;
}